<footer class="relative px-4 pt-4 pb-4">
  
  <!-- divider -->
  <div class="relative mt-2 md:mt-8 mb-2">
    <!-- <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t border-gray-400"></div>
    </div> -->
    <div class="relative flex justify-center ">
      <img class="object-cover mx-auto h-24 w-24" src="{{site.baseurl}}/assets/img/{{site.author-image}}" alt="Barry Peavy image">
    </div>
  </div>

  <!-- footer msg -->
  <div class="flex flex-wrap items-center justify-center">
    <p class="text-sm text-gray-400">
      <a href="mailto:barry.peavy@gmail.com">✉ barry.peavy@gmail.com</a><br />
      © <span id="get-current-year"></span>
      {% if site.footer-msg %}
        {{site.footer-msg}}
      {% endif %}
    </p>
  </div>
  </div>
</footer>